body {
	background: #0d1117;
	color: #FFFFFF;
}
div#site {
	position: absolute;
	width: 40%;
	left: 50%;
	margin-left: -20%;
	text-align: center;
}

img.logo {
		filter: grayscale(100%) brightness(100);
		width: 65px;
		height: 65px;
		}
div.link {
	display: inline-block;
	width: 70px;
}
div.logo-container {
	display: inline-block;
	width: 100%;
	height: 100%;
}
a {
	color: #ffffff;
}
a.link-content:focus div.logo-container, 
a.link-content:hover div.logo-container {
	background-color: #2f81f7;
}

@media (max-width: 480px) {
	div#site {
		width: 95%;
		margin-left: -47.5%;
	}
}